.bmr-calc-super-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
}

.bmr-calc-input-container {
    padding: 6px;
}

.bmr-calc-input-container select {
    border-color: rgba(var(--mainColor));
}

.bmr-calc-button-container {
    text-align: center;
}

#btn_Submit_BmrCalc_Right {
    display: inline-block;
    background: rgba(var(--shadowColor));
    width: 100%;
    font-family: var(--fontFamilyName) Bold, Arial, Helvetica, sans-serif !important;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.calc-heading {
    display: block;
    font-size: calc(var(--mobFontSize_H2) - 1%) !important;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.bmr-calc-calc-description  {
    font-size: calc(16px - 1%) !important;
}

.bmr-calc-result {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 12px;
    background-color: white;
}

.bmr-calc-result-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    color: white;
    font-size: calc(var(--mobFontSize_componentTitle) - 1%);
}

.bmr-calc-result-content #day-container,
.bmr-calc-result-content #date-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
    font-weight: bold;
}

.bmr-calc-result-bg-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #585194;
    color: white;
    width: 100%;
}

.bmr-calc-result-bg-content-container img {
    width: 50%;
    max-width: 250px;
}

.bmr-calc-result-button-container {
    width: 100%;
    padding: 0 !important;
}

#bmr-calc-result-bg-image-container {
    position: relative;
}

#bmr-calc-result-return-button {
    display: inline-block;
    min-width: 100px;
    width: 100%;
    margin-top: 24px !important;
    margin: 0;
    background: rgb(var(--shadowColor));
    font-size: 16px;
    color: rgb(var(--mainLightColor)) !important;
    text-align: center;
    padding: 8px 15px;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    box-shadow: none;
    outline: none !important;
}

#bmr-calc-calories-burnt-container {
    padding: 24px;
}

#bmr-calc-calories-burnt-title-container {
    font-size: calc(var(--mobFontSize_H3) - 1%) !important;
}

#bmr-calc-calories-burnt {
    font-size: calc(var(--mobFontSize_H1) - 1%) !important;
    font-weight: bold;
}

.cnts {
    height: auto !important;
}

#bmr-calc-errors-list {
    padding: 6px;
}

.bmr-calc-error-item {
    text-align: right;
    color: red;
    padding: 3px 12px;
    font-size: calc(16px - 1%) !important;
}

.bmr-calc-error-container {
    color: red;
    font-size: calc(16px - 1%) !important;
}